#page_header nav li{list-style: none;display: inline;line-height: 20px;}
#page_header{width: 1000px;margin: auto;margin-top: 10px;}
#page_about{}
#page_nav{margin-top: 20px;}
#page_content{margin-top: 20px;}
#page_content #page_content_item div{float: left;width: 190px;margin-right: 10px;height: 50px;}
#page_content #page_content_item div:hover{border: 1px solid rgb(205,205,205);}
#page_footer{width: 800px;margin: auto;}

.baseback{background-color: #F7F7F7;border:1px solid rgb(205,205,205) }
.float_center{width: 1003px;margin: auto;}
.rowline{margin-left: 0px;margin-bottom:5px;}
.content-width{width:1003px;min-height:300px;}
.content-width .tab-pane   section ul.nav.nav-tabs li a{padding-bottom:20px;}
.tab-close{padding:2px 2px 2px 2px;font-size:14px;position:relative;top: -10px;right:-10px;}
.trhover:hover{background-color:rgb(230,230,230);}
.ashouzhi{cursor:pointer}
.att{background: url("../img/index/addatt.png") no-repeat scroll 0px 0px transparent;text-indent: -9999em;width:40px;height:40px;none;margin:0px 10px 0px 10px;}
.att:hover{background-position: -40px 0px;}
.cancelatt{background: url("../img/index/addatt.png") no-repeat scroll 0px 0px transparent;background-position: 0px -40px;text-indent: -9999em;width:40px;height:40px;display:none;margin:0px 10px 0px 10px;}
.cancelatt:hover{background-position: -40px -40px;}
.row2{margin-left:0px;}